.component-wrapper .iconButtonSecondary1 {
  background-color: #f1f1f13d;
  width: 5rem;
  cursor: pointer;
  &:hover {
    background-color: #115293;
    color: white;
  }
}

.component-wrapper .iconButtonSecondary2 {
  background-color: #f1f1f13d;
  width: 5rem;
  border-radius: 10px 50px 50px 10px;
  cursor: pointer;
  &:hover {
    background-color: #115293;
    color: white;
  }
}
