.featureCardContainer .featureCard {
    max-width: 15vw;
    background-color: transparent;
    color: #fff;
    box-shadow: none;
    @media (max-width: 900px) {
      max-width: 80vw;
      margin-bottom: 0;
    }
    @media (max-width: 768px) {
      margin-bottom: 10vh;
    }
  }
  
  .featureImage {
    border-radius: 20px;
    width: 15vw;
    transform: rotate(2deg);
    opacity: 0.77;
    @medi
      max-height: 20vh;
      margin-bottom: 2vh;
    }
  }

  .featureImage2 {
    border-radius: 20px;
    width: 15vw;
    height: 15vw !important;
    transform: rotate(2deg);
    opacity: 0.77;
    @media (max-width: 900px) {
      width: 80vw;
      height: 28vw !important;
      max-height: 20vh;
      margin-bottom: 2vh;
    }
  }
  
  .title {
    font-family: 'Abril Fatface', serif;
    font-size: 1.5rem;
  }
  
  .description {
    font-size: 1rem;
    color: #fff;
  }
  