.featuresContainer {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  height: 60vh;
  margin-bottom: 20vh;

  @media (max-width: 768px) {
    flex-direction: column;
    height: auto;
    margin-bottom: 10vh;
  }
}

.featuresSection {
  .featuresTitle {
    margin-top: 25vh;
    margin-bottom: 10vh;
    text-align: center;
    color: #fff;

    @media (max-width: 768px) {
      margin-top: 25vh;
      margin-bottom: 5vh;
      font-size: 1.5rem; // Adjust font size for mobile
    }
  }

  // Add additional styling for other elements within .featuresSection if necessary
}
