.component-wrapper .secondaryButton {
    padding: 8px 16px;
    width: 15em;
    background-color: #f1f1f13d;
    color: rgb(255, 255, 255);
    border: none;
    text-transform: none;
    border-radius:50px;
    font-size: 16px;
    cursor: pointer;
  
    &:hover {
      background-color: #115293;
      color: white;
    }
  }
  