// Sidebar.module.scss
.sidebarContainer {
  background-color: transparent;
  width: 18vw;
  margin-top: 8vh;
  color: white;

  .accordion {
    background-color: transparent;
    color: white;

    .expandIcon {
      color: white;
    }
  }

  .filterTitle {
    color: white;
  }

  .checkbox {
    color: white;
    &.Mui-checked {
      color: white;
    }
  }
}

@media (max-width: 425px) {
  .sidebarContainer {
    width: 66vw; // Full width for mobile drawer
  }
}
