.heroContainer {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: space-around;
  height: 90vh;
  color: #fff;
  padding: 5px;

  .bigHero {
    width: 35vw;
    border-radius: 20px;
    transform: rotate(1deg);
  }

  @media (max-width: 425px) {
    flex-direction: column;
    height: auto;
    .bigHero {
      display: none;
    }
  }
}

.imageContainerLeft {
  display: flex;
  flex-direction: column;
  max-width: 20vw;
  min-height: 100vh;
  gap: 10vh;
  align-items: center;
  justify-content: space-around;

  .imgLeftBottom {
    transform: rotate(-9deg) !important;
  }

  @media (max-width: 425px) {
    padding-top: 10vh !important;
    flex-direction: row !important;
    max-width: 100% !important;
    min-height: auto !important;
    .imgLeftTop,
    .imgLeftBottom {
      max-width: 25vw !important;
    }
  }
}

.middContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;

  .imageContainerMiddle {
    margin: 8vh 0 12vh;
  }

  .wordContainer {
    text-align: left;
    max-width: 30vw;
    padding: 0 20px;
  }

  .imgMiddle {
    margin-bottom: 10vh !important;
    transform: rotate(-2deg) !important;
  }

  .subheadContainer{
    margin-top: 1.5rem;
    margin-bottom: 3.2rem;
  }
  

  @media (max-width: 425px) {
    height: auto;
    .imageContainerMiddle, 
    .wordContainer {
      align-items: center;
      text-align: center;
      max-width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    .imageContainerMiddle {
      margin: 5vh 0;
    }

    .imgMiddle {
      max-width: 30vw !important;
      margin-bottom: 5vh !important;
      transform: translateX(80%) !important;
    }

    .heading {
      font-size: 2rem;
      text-align: left;
    }

    .subheading {
      font-size: 1.3rem;
      text-align: left;
    }
  }
}
