.bestStoriesContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
  
    .header {
      display: flex;
      width: 85%;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
  
      .title {
        color: white;
      }

      .allStories {
        color: white;
        cursor: pointer;
      }
    }
  
    .gridContainer {
      display: flex;
      justify-content: center;
      width: 100%;
      
      .bookDisplay {
        display: flex;
        justify-content: center;
        margin-left: 35px;
        overflow-x: none;
        flex-wrap: wrap;
      }
    }
  
    @media (max-width: 768px) {
      .header {
        flex-direction: rows;
        align-items: center;
  
        .title {
          font-size: 1.2rem;
          margin-bottom: 10px;
        }
      }
  
      .gridContainer {
        .bookDisplay {
          margin-left: 0;
        }
      }
    }
  }
  