.booksContainer {
    // Apply your global container styles here
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden;
  }
  .noBooksContainer{
    padding: 30vh 15vh;
  }
  .noBooksText {
    color: rgb(29, 103, 214);
    padding: 1vh 0;
  }