.heroContainer {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: space-around;
  height: 90vh;
  color: #fff;
  padding: 10px;

  .bigHero {
    width: 35vw;
    height: 35vw;
    border-radius: 20px;    
    transform: rotate(1deg);
  }

  @media (max-width: 768px) {
    flex-direction: column;
    height: auto;
    .bigHero {
      display: none;
    }
  }
}

.imageContainerLeft {
  display: flex;
  flex-direction: column;
  max-width: 20vw;
  min-height: 100vh;
  gap: 10vh;
  align-items: center;
  justify-content: space-around;

  .imgLeftTop,
  .imgLeftBottom {
    border-radius: 20px;
    opacity: 0.77;
  }

  .imgLeftTop {
    max-width: 15vw;
    width: 15vw;
    height: 13.5vw;
  }

  .imgLeftBottom {
    max-width: 12vw;
    transform: rotate(-9deg);
    width: 12vw;
    height: 12vw;
  }

  @media (max-width: 768px) {
    padding-top: 10vh;
    flex-direction: row;
    max-width: 100%;
    min-height: auto;
    .imgLeftTop,
    .imgLeftBottom {
      max-width: 25vw;
    }
  }
}

.middContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;

  .imageContainerMiddle {
    margin: 8vh 0 12vh;
  }

  .wordContainer {
    text-align: left;
    max-width: 30vw;
    padding: 0 20px;
  }

  .imgMiddle {
    max-width: 8vw;
    width: 8vw;
    height: 8vw;
    border-radius: 20px;
    margin-bottom: 10vh;
    transform: rotate(-2deg);
    opacity: 0.77;
  }

  .heading {
    margin-bottom: 1rem;
  }

  .subheading {
    margin-bottom: 2rem;
  }

  @media (max-width: 768px) {
    height: auto;
    .imageContainerMiddle, 
    .wordContainer {
      align-items: center;
      text-align: center;
      max-width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    .imageContainerMiddle {
      margin: 5vh 0;
    }

    .imgMiddle {
      max-width: 30vw;
      margin-bottom: 5vh;
      transform: translateX(80%);
    }

    .heading {
      font-size: 2rem;
      text-align: left;
    }

    .subheading {
      font-size: 1.3rem;
      text-align: left;
    }
  }
}
